
*{
    color: black;
}
#header{
    display: flex;
    border: 1px solid orange;
    height: 250px;
    align-items: center;
    justify-content: center;
    background-image: url("https://images.unsplash.com/photo-1691683285707-949b29b5acf2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwzNXx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=800&q=60");
    background-position: center;
    background-size: cover;
    color: white;
    font-size: 40px;
    font-family: math;
    
}

#profile-img{
    height: 106px;
    width: 121px;
    /* margin: auto; */
    border-radius: 66px;
}



#user{
    text-align: center;
}

#options div {
   display: inline-block;
   /* border: 1px solid whitesmoke; */
    height: 500px;
    width: 588px;
    text-align: center;
    /* background: linear-gradient(rgb(74, 244, 224),skyblue); */
    /* box-shadow:2px 2px 10px skyblue */
}

 #options{
    margin: auto;
    display: flex;
    justify-content: center;
    /* display: inline-block; */
    width: max-content;
    margin-top: -174px;
}

#verification1,#verification{
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: serif;
    box-shadow: 0px 0px 8px;
    color: black;
} 

#verification{
    height: 300px;
    justify-content: space-around;
    
}
  
#footer{
    background-color: rgb(2, 2, 48);
    
}

#footer li{
    color: white;
    margin-top: 20px;
}

#ul-footer{
    margin-top: 30px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-row-gap: 20px;
}





