*{
    margin: 0;
    padding: 0;
}

#start-page{
     background-image: url("https://images.unsplash.com/photo-1691874678829-76e4e7fb5e93?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDk3fGlVSXNuVnRqQjBZfHxlbnwwfHx8fHw%3D&auto=format&fit=crop&w=500&q=60");
     /* background-image: url("startpage-background.avif"); */
     height: 750px;
     background-position: center;
     background-size: cover;
}

body{
    background-color: azure;
}

body::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    /* background: url("https://images.unsplash.com/photo-1529530385195-5f7be6bb3d12?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OTR8fGJ1c3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60") no-repeat center/cover; */
    z-index: -1;
    opacity: 0.3;
}

#container{
    height: 250px;
    width: 400px;
    margin: auto;
    margin-top: -10px;
  
}

form{
    margin: 47px 0px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 23px;
}

label{
    font-size: 20px;
   
}

::placeholder{
    /* color: white; */
    opacity: 0.7;
}

input{
    border-radius: 16px;
    font-size: 20px;
    height: 35px;
    width: 471px;
    background-color: transparent;
    text-align: center;
}

/* #container form label,#container form input{
    color: white;
} */

.btn{
    background-color: orange;
    width: 195px;
    cursor: pointer;
}

#startbtn{
    display: flex;
    height: 400px;
    justify-content: space-evenly;
    align-items: center;
   
}
.startbtn{
    color: white;
    height: 75px;
    background-color: transparent;
    font-size: 30px;
    width: 468px;
    border-radius: 19px;
    border: 1px solid white;
}

.startbtn:hover{
    cursor: pointer;
}

